<h4> Please note that you need to enter: url/apr/years/principal. </h4>

<h3> You have a <%= @years %> year loan of $<%= @principal %>,with an annual interest rate of <%= @apr %>%. This will require a monthly payment of $<%= @monthly_payment%>. </h3>
