<h1>Monthly Payment Results</h1>
<form action="/payment/results">

  <div>
  <label for="himself">
    Principal amount
  </label>
  <input id="himself" type="string" name="principal">
</div>

<div>
<label for="yourself">
  APR
</label>
<input id="yourself" type="string" name="apr">
</div>

<div>
<label for="herself">
  Number of years
</label>
<input id="herself" type="string" name="years">
</div>


<button>Calculate monthly payment</button>
</form>
