<h1>Monthly Payment Results</h1>
<form action="/squareroot/results">

  <div>
  <label>
    Principal amount
  </label>
  <input type="text" name="principal">
</div>

<div>
<label>
  APR
</label>
<input type="text" name="apr">
</div>

<div>
<label>
  Number of years
</label>
<input type="text" name="years">
</div>


<button>Calculate monthly payment</button>
</form>
