<h1>Lucky Number!</h1>
<form action="/random/results">
  <div>
  <label>
    Minimum
  </label>
  <input type="string" name="min">
</div>

<div>
<label>
  Maximum
</label>
<input type="string" name="max">
</div>

<button>Pick random number</button>
</form>
