<h2>You entered <%= @min %> as your minimum. </h2>
<h2>You entered <%= @max %> as your maximum. </h2>
<h2>Your lucky number is <%= @user_number %>

<form action="/random/new">
  <button> Get Lucky Again! </button>
</form>
